.o-main-wrapper{
    overflow-y: scroll;
    height: 100%;
}

.o-sub {
    background-color: #fff;
    width: 100%;
    height: fit-content;
    border-radius: 1rem;
    box-sizing: border-box;
    border: 1px solid #457848;
}