html{
  background-color: #ffffff !important;
}

body{
  background-color: #ffffff !important;
  overscroll-behavior-y: contain !important;
}


.a-wrapper{
  height: 100%;
  width: 100vw;
  /* background-color: rgb(148, 42, 42); */
  position: fixed;
  top: 0rem;
  overflow-y: hidden;
  overflow-x: hidden;
  display: grid;
  grid-template-rows:  auto fit-content(100%);
  box-sizing: border-box;
}

.main-sub{
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}